body {
  background-color: rgb(216, 209, 184);

  input {
    position: fixed;
    bottom: 20%;
    width: 50%;
    margin-top: 50%;
    height: 4em;
    font-size: 1em;
  }

  #chat {
    background-color: white;
    width: 50%;
    margin: auto;
  }
}
